# Activation de PostgreSQL (mettre 'true' pour se connecter à PostgreSQL, 'false' pour conserver SQLite)
USE_POSTGRESQL=true

# Configuration de la base de données PostgreSQL
UNIVERSITY_DB_NAME=university_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=votre_mot_de_passe
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
